body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
#navbar-container{
    padding-bottom: 5vh;
    background: #0E0B16;
}
#navbar{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#links{
    display: flex;
    list-style-type: none;
}
#brand{
    padding-left: 5vw;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: white;
}
.home-link:link, .home-link:visited{
    text-decoration: none;
    background-color: #A239CA;
    border-bottom: 1px solid purple;
    padding: 16px 20px;
    color: #0E0B16;
    text-align: center;
}
.home-link:hover, .home-link:active{
    background-color: purple;
}
.about-link:link, .about-link:visited{
    text-decoration: none;
    background-color: #A239CA;
    border-bottom: 1px solid purple;
    padding: 16px 20px;
    color: #0E0B16;
    text-align: center;
}
.about-link:hover, .about-link:active{
    background-color: purple;
}
.projects-link:link, .projects-link:visited{
    text-decoration: none;
    background-color: #A239CA;
    border-bottom: 1px solid purple;
    padding: 16px 20px;
    color: #0E0B16;
    text-align: center;
}
.projects-link:hover, .projects-link:active{
    background-color: purple;
}
#javascript-projects-header{
    background: lightblue;
    display: flex;
    justify-content: center;
}
#javascript-projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.project-names{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
.website-link:link, .website-link:visited{
    text-decoration: none;
    color: purple;
    background: lightblue;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    width: 20%;
    margin: auto;
}
.website-link:hover, .website-link:active{
    background: lightgreen;
}
#node-projects-header{
    background: lightpink;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#node-projects{
    display: flex;
    flex-direction: column;
}
.node-project-link:link, .node-project-link:visited{
    text-decoration: none;
    color: red;
    background: lightsalmon;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    width: 20%;
    margin: auto;
}
.node-project-link:hover, .node-project-link:active{
    background: lightgreen;
}




